<li class="todo">
  <div>
    <span>{{add-one i}}. </span>
    {{#if edit}}
      {{input type="text"
        class="edit-todo"
        value=this.value
        focus-out=(action 'updateTodo')
      }}
    {{else}}
      <input type="checkbox" checked={{todo.done}} {{action 'toggleDone' on="change"}}>
      <span class={{if todo.done "doneTodo"}} {{action 'editTodo' on="doubleClick"}}>{{todo.title}}</span>
    {{/if}}
  </div>
  <div>
    {{#unless edit}}
      <button {{action 'deleteTodo'}}>x</button>
    {{/unless}}
  </div>
</li>
