body,
ul {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.wrapper-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  border-bottom: 2px solid black;
  background: #144e6c;
}

.header h1 {
  margin-left: 20px;
}

.header h1 a,
.header nav a {
  font-weight: bold;
  text-decoration: none;
  color: #1d8525;
}

.header h1 a:hover,
.header nav a:hover {
  color: #25d238;
}

.header nav {
  margin-right: 20px;
  color: #1d8525;
}

ul {
  list-style: none;
}

.header ul {
  display: flex;
}
.header ul li {
  margin-left: 10px;
}
.doneTodo {
  text-decoration: line-through;
}

input,
button {
  border: none;
  outline: none;
}

input[type="checkbox"],
button {
  cursor: pointer;
}

.header-todo-list {
  color: #0f0f85;
}

.input-add-todo {
  width: 250px;
  margin: 20px 0;
  border-bottom: 1px solid #85181c;
  font-size: 18px;
}
.btn-add-todo {
  font-size: 18px;
  color: #85181c;
}
.btn-add-todo:hover {
  color: #1d8525;
}
.btn-add-todo:active {
  color: #0f0f85;
}
.edit-todo {
  padding: 0 5px;
  /*margin: 5px;*/
  border-top: 1px solid #85181c;
  border-bottom: 1px solid #85181c;
  font-size: 18px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2px;
  margin: 5px;
  border-bottom: 1px solid #1d8525;
}
.todo button {
  margin-left: 5px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
}
.todo button:hover {
  color: #85181c;
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  border-top: 1px solid #0f0f85;
}
.statistic li {
  margin: 5px;
}
.num {
  padding: 0 2px;
  background: #000;
  color: #fff;
}

.completed {
  color: red;
}
.uncompleted {
  color: blue;
}
