<div class="wrapper-app">
  <div class="header">
    <h1><a href="https://guides.emberjs.com" target="_blank">Ember js</a></h1>
    <nav>
      <ul>
        <li>
          {{#link-to 'index'}}
            Home
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'todo-list'}}
            Todo list
          {{/link-to}}
        </li>
      </ul>
    </nav>
  </div>
  <div class="content">
    {{outlet}}
  </div>
</div>
