<h2>Home page</h2>
<h3>List from 'https://jsonplaceholder.typicode.com/todos':</h3>
<ul class="todo-list">
    {{#each model as |item|}}
      <li class={{if item.completed "completed" "uncompleted"}}>
      {{item.id}}. {{item.title}}
      </li>
    {{/each}}
  </ul>
{{outlet}}
