<div class="wrapper-todo">
  <div class="header-todo-list">
    <h2>Todo List</h2>
  </div>
  <div >
    {{input type="text"
      class="input-add-todo"
      value=this.value
      placeholder="Enter todo"
    }}
    <button class="btn-add-todo"
      onclick={{action "addTodoItem"}}>Add todo</button>
  </div>
  <ul class="todo-list">
    {{#each todos as |todoItem index|}}
      {{todo-item todo=todoItem
        i=index
        deleteTodo="deleteTodo"
        updateTodo="updateTodo"
        toggleDone="toggleDone"
      }}
    {{else}}
      Todo list is empty
    {{/each}}
  </ul>
  <ul class="statistic">
    <li>All <span class="num">{{todos.length}}</span></li>
    <li>Completed <span class="num">{{completed.length}}</span></li>
    <li>Incompleted <span class="num">{{incompleted.length}}</span></li>
  </ul>
</div>
